-- Fix para View com SECURITY DEFINER
-- Adicionando security_invoker = true para respeitar o RLS do usuario conectado

CREATE OR REPLACE VIEW public.transaction_splits_with_settlement 
WITH (security_invoker = true)
AS
SELECT 
  ts.*,
  -- Compatibilidade: is_settled e TRUE se ambos os lados confirmaram
  (ts.settled_by_debtor = TRUE AND ts.settled_by_creditor = TRUE) AS is_fully_settled,
  -- Status de acerto
  CASE 
    WHEN ts.settled_by_debtor = TRUE AND ts.settled_by_creditor = TRUE THEN 'FULLY_SETTLED'
    WHEN ts.settled_by_debtor = TRUE AND ts.settled_by_creditor = FALSE THEN 'DEBTOR_CONFIRMED'
    WHEN ts.settled_by_debtor = FALSE AND ts.settled_by_creditor = TRUE THEN 'CREDITOR_CONFIRMED'
    ELSE 'PENDING'
  END AS settlement_status
FROM public.transaction_splits ts;
